<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>EzyEMI</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="starters.html">EzyEMI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="starters.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="page2.html">Calculator</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

     
      <br>
      <form oninput="result.value=parseFloat(amount.value)*parseFloat(rate.value)*parseFloat(time.value)">
        Enter your principle amount : <input type="number" id="principle"></input>
        Enter the rate of interest : <input type="number" id="interest_rate"></input>
        Enter the tenure : <input type="number" id="tenure"></input><br>
        Total amount to be paid: <output name="result" for="rate amount time"></output>
      </form>
      <div class="loan-cal-div">
        <div class="w-form">
        <div id="Emi_Calculator" class="tabcontent" ng-show="emi_section">
        <form>
        <div class="form-group">
        <label for="loan_amount">Loan Amount</label>
        <input type="number" class="insur-form-input w-input" id="loan_amount" placeholder="Enter loan amount" name="loan_amount" ng-model="loan_amount" ng-change="Emi_Calculator()">
        </div>
        <div class="form-group">
        <label for="interest_rate">Annual Interest Rate (%)</label>
        <input type="number" class="insur-form-input w-input" id="interest_rate" placeholder="Enter interest rate" name="interest_rate" ng-model="interest_rate" ng-change="Emi_Calculator()">
        </div>
        <div class="form-group">
        <label for="Tenure">Tenure (in Months)</label>
        <input type="number" class="insur-form-input w-input" id="tenure" placeholder="Enter tenure" name="tenure" ng-model="tenure" ng-change="Emi_Calculator()">
        </div>
        </form>
        </div>
        <div id="Loan_Amount_Calculator" class="tabcontent" ng-show="loan_section">
        <form>
        <div class="form-group">
        <label for="emi_amount">EMI</label>
        <input type="number" class="insur-form-input w-input" id="emi" placeholder="Enter emi amount" name="emi" ng-model="emi" ng-change="Loan_Calculator()">
        </div>
        <div class="form-group">
        <label for="interest_rate">Annual Interest Rate (%)</label>
        <input type="number" class="insur-form-input w-input" id="interest_rate" placeholder="Enter interest rate" name="interest_rate" ng-model="interest_rate" ng-change="Loan_Calculator()">
        </div>
        <div class="form-group">
        <label for="Tenure">Tenure (in Months)</label>
        <input type="number" class="insur-form-input w-input" id="tenure" placeholder="Enter tenure" name="tenure" ng-model="tenure" ng-change="Loan_Calculator()">
        </div>
        </form>
        </div>
        <div id="Tenure_Calculator" class="tabcontent" ng-show="tenure_section">
        <form>
        <div class="form-group">
        <label for="loan_amount">Loan Amount</label>
        <input type="number" class="insur-form-input w-input" id="loan_amount" placeholder="Enter loan amount" name="loan_amount" ng-model="loan_amount" ng-change="Tenure_Calculator()">
        </div>
        <div class="form-group">
        <label for="interest_rate">Annual Interest Rate (%)</label>
        <input type="number" class="insur-form-input w-input" id="interest_rate" placeholder="Enter interest rate" name="interest_rate" ng-model="interest_rate" ng-change="Tenure_Calculator()">
        </div>
        <div class="form-group">
        <label for="emi">EMI</label>
        <input type="number" class="insur-form-input w-input" id="emi" placeholder="Enter emi" name="emi" ng-model="emi" ng-change="Tenure_Calculator()">
        </div>
        </form>
        </div>
        </div>
        <div class="loan-summary">
        <div class="summary-item">
        <div class="amount-summary">
        <div class="amount">
        <div class="amount-label">{{result_label}}</div>
        <h3 class="amount-number blue">{{result}}</h3>
        </div>
        <div class="amount">
        <div class="amount-label">Interest Payable</div>
        <h3 class="amount-number interest">₹{{Interest_Payable}}</h3>
        </div>
        <div class="amount">
        <div class="amount-label">Total Payment</div>
        <h3 class="amount-number green">₹{{total}}</h3>
        </div>
        </div>
        <div class="pie-chart">
        <div id="piechart"></div>
      <script type="40c274b4ff49de37763dd666-text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Entity', 'Value'],
            ['Principal', 86],
            ['Interest', 14]
            ]);
          var options = {'title':'Break-up of Total Payment (Principal Repayment , Interest paid)'};
          var chart = new google.visualization.PieChart(document.getElementById('piechart'));
          chart.draw(data, options);
        }
      </script>

      <script type="40c274b4ff49de37763dd666-text/javascript">
        var app = angular.module('myApp', []);
  
        app.controller('myCtrl', function($scope) {
          $scope.emi = 0;
          $scope.loan_amount = 100000;
          $scope.interest_rate = 10;
          $scope.tenure = 6;
          $scope.emi = ($scope.loan_amount * $scope.interest_rate*0.0008333 * Math.pow((1+$scope.interest_rate*0.0008333),$scope.tenure))/(Math.pow((1+$scope.interest_rate*0.0008333),$scope.tenure) - 1);
          $scope.emi = Math.round($scope.emi * 100) / 100;
          $scope.emi_section = true;
          $scope.loan_section = false;
          $scope.tenure_section = false;
          $scope.a = "active";
          $scope.b = "";
          $scope.c = "";
          $scope.result_label = "EMI";
          $scope.result = "₹17156.12";
          $scope.Interest_Payable = "16161.20";
          $scope.total = "116161.20";
          $scope.openForm = function(id){
           if (id == "emi") {
            $scope.emi_section = true;
            $scope.loan_section = false;
            $scope.tenure_section = false;
            $scope.a = "active";
            $scope.b = "";
            $scope.c = "";
            $scope.result_label = "EMI";
            $scope.result = "₹" + $scope.emi.toFixed(2);
          }
          if (id == "loan") {
            $scope.loan_section = true;
            $scope.emi_section = false;
            $scope.tenure_section = false;
            $scope.a = "";
            $scope.b = "active";
            $scope.c = "";
            $scope.result_label = "Loan Amount";
            $scope.result = "₹" + $scope.loan_amount.toFixed(2);
          }
          if (id == "tenure") {
            $scope.tenure_section = true;
            $scope.emi_section = false;
            $scope.loan_section = false;
            $scope.a = "";
            $scope.b = "";
            $scope.c = "active";
            $scope.result_label = "Tenure";
            $scope.result = $scope.tenure.toFixed(2);
          }
        }
        $scope.Emi_Calculator = function(){
          $scope.emi = ($scope.loan_amount * $scope.interest_rate*0.0008333 * Math.pow((1+$scope.interest_rate*0.0008333),$scope.tenure))/(Math.pow((1+$scope.interest_rate*0.0008333),$scope.tenure) - 1);
          $scope.emi = Math.round($scope.emi * 100) / 100;
          $scope.result_label = "EMI";
          $scope.result = "₹" + $scope.emi.toFixed(2);
          $scope.table();
          $scope.piechart();
          //$scope.emi = Math.round($scope.emi * 100) / 100;
        }
        $scope.Loan_Calculator = function(){
          $scope.loan_amount = ($scope.emi*(Math.pow((1+$scope.interest_rate*0.0008333),$scope.tenure) - 1))/($scope.interest_rate*0.0008333 * Math.pow((1+$scope.interest_rate*0.0008333),$scope.tenure));
          $scope.result_label = "Loan";
          $scope.result = "₹" + $scope.loan_amount.toFixed(2);
          $scope.table();
          $scope.piechart();
        }
        $scope.Tenure_Calculator = function(){
         if(1 > (($scope.loan_amount*$scope.interest_rate*0.0008333)/$scope.emi)){
          $scope.tenure = Math.log(1-(($scope.loan_amount*$scope.interest_rate*0.0008333)/$scope.emi))/Math.log(1/(1+($scope.interest_rate*0.0008333)));
                //$scope.tenure = Math.ceil($scope.tenure);
                $scope.result_label = "Tenure";
                $scope.result = $scope.tenure.toFixed(2);
                $scope.table();
                $scope.piechart();
              }else{
                $scope.tenure = 0;
              }
  
  
            }
            $scope.table = function(){
              document.getElementById("dynamic_rows").innerHTML = "";
              var c = 1,d = 1,count=0,a=0,b=0,p=0,q=0;
              var row = "";
              var newDate;
              var date = new Date();
              d = $scope.loan_amount;
              while(c > 0){
               c = d*(1+$scope.interest_rate*0.0008333) - $scope.emi;
               a = a + $scope.emi - (d*$scope.interest_rate*0.0008333);
               b = (a/$scope.loan_amount)*100;
               if(c<1)
               {
                c = 0;
                b = 100;
              }
              newDate = new Date(date.setMonth(date.getMonth()+1));
              p = p + d*$scope.interest_rate*0.0008333;
              q = q + $scope.emi;
              row = row +"<tr><td>"
              +(newDate.getMonth()+1) + "-" + newDate.getFullYear()
              +"</td>"+"<td>"
              +($scope.emi - (d*$scope.interest_rate*0.0008333)).toFixed(0)
              +"</td>"+"<td>"
              +(d*$scope.interest_rate*0.0008333).toFixed(0)
              +"</td>"+"<td>"
              +$scope.emi.toFixed(0)
              +"</td>"+"<td>"
              +c.toFixed(0)
              +"</td>"+"<td>"
              +b.toFixed(2)
              +"%</td></tr>";
              d = c;
              count = count+1;
            }
            $scope.Interest_Payable = p.toFixed(2);
            $scope.total = q.toFixed(2);
            document.getElementById("dynamic_rows").innerHTML = row;
            
          }
  
          $scope.piechart = function(){
            var principal = ($scope.loan_amount/($scope.tenure*$scope.emi))*100;
            var interest = 100 - principal;
            var data = google.visualization.arrayToDataTable([
              ['Entity', 'Value'],
              ['Principal', principal],
              ['Interest', interest]
              ]);
            var options = {'title':'Break-up of Total Payment (Principal Repayment , Interest paid) Chart'};
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
          }
  
          $scope.table();
  
        });
      </script>


  </body>
</html>